.tooltip {
  position: fixed;
  top: 0;
  right: 0;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  z-index: 9999;
  padding: 10px 0;


  /* Add the animation */
  animation: slideDown 0.5s ease-in;
}

/* Keyframes for the slide down animation */
@keyframes slideDown {
  from {
    /* Start with the tooltip hidden above the top of the screen */
    top: -100%;
  }
  to {
    /* End with the tooltip in its normal position */
    top: 0;
  }
}
.tooltip-title {
  padding-left: 10px;
  font-weight: bold;
}

.tooltip-options-list {
  max-height: 200px;
  overflow-y: scroll;
}

.tooltip-option {
  padding: 5px 10px;
  cursor: pointer;
}

.tooltip-option:hover {
  background-color: #f0f0f0;
}


.tooltip-close-button {
  border: none;
  background-color: black;
  color: white;
  font: inherit;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}
